<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{id}}</title>
    <link rel="stylesheet" href="http://localhost:3000/css/style.css"/>
    <script src="http://localhost:3000/js/diary-container.js" defer></script>
    <script src="http://localhost:3000/js/script.js" defer></script>


  </head>
  <body>
    <h1>Title</h1>
    <div id= "entry">
      <h1 id = 'date'>DATE </h1>
      <h2 id = 'prompt'>PROMPT </h2>
    <div>
    <textarea id = "text-box">Hey!</textarea>
    <button id = "prev">BACK</button>
    <button id = "start">START</button>
    <button id = "next"> NEXT</button>
  </div>
  </div>

  </body>
</html>
